In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("data_clean (1).csv")

In [25]:
df

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [26]:
df.shape

(158, 10)

In [27]:
df.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [28]:
df.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [29]:
df.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

In [30]:
df["Ozone"].unique()

array([ 41.,  36.,  12.,  18.,  nan,  28.,  23.,  19.,   8.,   7.,  16.,
        11.,  14.,  34.,   6.,  30.,   1.,   4.,  32.,  45., 115.,  37.,
        29.,  71.,  39.,  21.,  20.,  13., 135.,  49.,  64.,  40.,  77.,
        97.,  85.,  10.,  27.,  48.,  35.,  61.,  79.,  63.,  80., 108.,
        52.,  82.,  50.,  59.,   9.,  78.,  66., 122.,  89., 110.,  44.,
        65.,  22.,  31., 168.,  73.,  76., 118.,  84.,  96.,  91.,  47.,
        24.,  46.])

In [31]:
df["Ozone"].mean()

41.583333333333336

In [32]:
df["Ozone"]=df["Ozone"].fillna(df["Ozone"].mean())
df

,Unnamed: 0,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather
0,1,41.000000,190.0,7.4,67,5,1,2010,67,S
1,2,36.000000,118.0,8.0,72,5,2,2010,72,C
2,3,12.000000,149.0,12.6,74,5,3,2010,74,PS
3,4,18.000000,313.0,11.5,62,5,4,2010,62,S
4,5,41.583333,NaN,14.3,56,5,5,2010,56,S
...,...,...,...,...,...,...,...,...,...,...
153,154,41.000000,190.0,7.4,67,5,1,2010,67,C
154,155,30.000000,193.0,6.9,70,9,26,2010,70,PS
155,156,41.583333,145.0,13.2,77,9,27,2010,77,S
156,157,14.000000,191.0,14.3,75,9,28,2010,75,S
157,158,18.000000,131.0,8.0,76,9,29,2010,76,C

In [33]:
del df['Unnamed: 0']

In [34]:
df

         Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0    41.000000    190.0   7.4     67     5    1  2010    67       S
1    36.000000    118.0   8.0     72     5    2  2010    72       C
2    12.000000    149.0  12.6     74     5    3  2010    74      PS
3    18.000000    313.0  11.5     62     5    4  2010    62       S
4    41.583333      NaN  14.3     56     5    5  2010    56       S
..         ...      ...   ...    ...   ...  ...   ...   ...     ...
153  41.000000    190.0   7.4     67     5    1  2010    67       C
154  30.000000    193.0   6.9     70     9   26  2010    70      PS
155  41.583333    145.0  13.2     77     9   27  2010    77       S
156  14.000000    191.0  14.3     75     9   28  2010    75       S
157  18.000000    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [35]:
df["Solar.R"].unique()

array([190., 118., 149., 313.,  nan, 299.,  99.,  19., 194., 256., 290.,
       274.,  65., 334., 307.,  78., 322.,  44.,   8., 320.,  25.,  92.,
        66., 266.,  13., 252., 223., 279., 286., 287., 242., 186., 220.,
       264., 127., 273., 291., 323., 259., 250., 148., 332., 191., 284.,
        37., 120., 137., 150.,  59.,  91., 135.,  47.,  98.,  31., 138.,
       269., 248., 236., 101., 175., 314., 276., 267., 272., 139.,  48.,
       260., 285., 187.,   7., 258., 295., 294.,  81.,  82., 213., 275.,
       253., 254.,  83.,  24.,  77., 255., 229., 207., 222., 192., 157.,
        64.,  71.,  51., 115., 244.,  36., 212., 238., 215., 153., 203.,
       225., 237., 188., 167., 197., 183., 189.,  95., 230., 112., 224.,
        27., 201.,  14.,  49.,  20., 193., 145., 131.])

In [36]:
df["Solar.R"].mean()

185.40397350993376

In [37]:
df["Solar.R"]=df["Solar.R"].fillna(df["Solar.R"].mean())
df

         Ozone     Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0    41.000000  190.000000   7.4     67     5    1  2010    67       S
1    36.000000  118.000000   8.0     72     5    2  2010    72       C
2    12.000000  149.000000  12.6     74     5    3  2010    74      PS
3    18.000000  313.000000  11.5     62     5    4  2010    62       S
4    41.583333  185.403974  14.3     56     5    5  2010    56       S
..         ...         ...   ...    ...   ...  ...   ...   ...     ...
153  41.000000  190.000000   7.4     67     5    1  2010    67       C
154  30.000000  193.000000   6.9     70     9   26  2010    70      PS
155  41.583333  145.000000  13.2     77     9   27  2010    77       S
156  14.000000  191.000000  14.3     75     9   28  2010    75       S
157  18.000000  131.000000   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [38]:
df['Weather'].mode()

0    S
Name: Weather, dtype: object

In [39]:
df["Weather"]=df["Weather"].fillna(df["Weather"].mode()[0])

In [40]:
del df['Temp C']

In [41]:
df

         Ozone     Solar.R  Wind Month  Day  Year  Temp Weather
0    41.000000  190.000000   7.4     5    1  2010    67       S
1    36.000000  118.000000   8.0     5    2  2010    72       C
2    12.000000  149.000000  12.6     5    3  2010    74      PS
3    18.000000  313.000000  11.5     5    4  2010    62       S
4    41.583333  185.403974  14.3     5    5  2010    56       S
..         ...         ...   ...   ...  ...   ...   ...     ...
153  41.000000  190.000000   7.4     5    1  2010    67       C
154  30.000000  193.000000   6.9     9   26  2010    70      PS
155  41.583333  145.000000  13.2     9   27  2010    77       S
156  14.000000  191.000000  14.3     9   28  2010    75       S
157  18.000000  131.000000   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [42]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [43]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [44]:
df[df['Month']=="May"]

    Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
23   32.0     92.0  12.0   May   24  2010    61       C

In [45]:
df["Month"]=df[df['Month']=="May"].replace(to_replace="May",value="5")

ValueError: Columns must be same length as key

In [46]:
df['Month'].head(25)

0       5
1       5
2       5
3       5
4       5
5       5
6       5
7       5
8       5
9       5
10      5
11      5
12      5
13      5
14      5
15      5
16      5
17      5
18      5
19      5
20      5
21      5
22      5
23    May
24      5
Name: Month, dtype: object

In [47]:
df[df['Month']=="May"]

    Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
23   32.0     92.0  12.0   May   24  2010    61       C

In [ ]:
df['Month']=df['Month'].replace(to_replace="May",value=5)

In [ ]:
df['Month'].head(25)

In [ ]:
df["Month"]=df["Month"].astype(int)

In [ ]:
df.dtypes

In [ ]:
# pd.to_numeric()

# Label Encoding
# One hot Encoding

In [ ]:
df_1=df.copy()

In [ ]:
df_2=df.copy()

In [ ]:
df_3=df.copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df_1["Weather"]=le.fit_transform(df_1["Weather"])

In [ ]:
df_1

In [ ]:
df_1.dtypes

In [ ]:
df_2

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
OHE=OneHotEncoder()

In [ ]:
import numpy as np

In [ ]:
df_2[["Weather_c","Weather_ps","Weather_s",]]=OHE.fit_transform(df_2[["Weather"]]).toarray().astype("int")

In [ ]:
df_2

In [ ]:
df_3

In [ ]:
df_3=pd.get_dummies(data=df_3,columns=["Weather"])

In [ ]:
df_3

# Input 
##  For Parametric model -- One hot encoding 
##  For Non Parametric model-- Label Encoding

# Output 

## Label Encoding

In [ ]:
final=df_3

In [ ]:
x=final.drop(labels="Temp",axis=1)

In [ ]:
x

In [ ]:
y=final["Temp"]
y

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
model=LogisticRegression()

In [ ]:
model.fit(x,y)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,shuffle=False,random_state=34)

In [ ]:
y_train_pred=model.predict(x_train)

In [ ]:
y_test_pred=model.predict(x_test)

In [ ]:
accuracy_score(y_test,y_test_pred)

In [ ]:
accuracy_score(y_train,y_train_pred)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [ ]:
model_1=RandomForestRegressor()

In [ ]:
model_1.fit(x_train,y_train)

In [ ]:
r2_score(y_train,y_train_pred)

In [ ]:
r2_score(y_test,y_test_pred)